# Configs

title: "Will Stamatakos"

name: "Jekyll Website for Will Stamatakos"

email: "l0wercaseq@outlook.comma"

url: "https://opens-horse.github.io"

repository: "opens-horse/Will-Stamatakos-Profile"

baseurl: "/Will-Stamatakos-Profile"



header:
  image: /assets/images/25_Will_Stamatakos_0130_ST_p0032-8 - Square headshot.jpg

include:
  - _pages
  - assets
  - index.html
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-include-cache

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "contrast"

# settings for author profile
author:
  name   : "Will Stamatakos"
  avatar : "/assets/images/25_Will_Stamatakos_0130_ST_p0032-8 - Square headshot.jpg"
  bio    : "Professional cheese consumer. Enjoyer of spherical objects that yell at you."
  location: "DeKalb, Illinois"
  github : 
  linkedin: "school/william-stamatakos" #This is a fake site that won't work. To add your own, make sure to include just the profile, not the full url. Eg. anna-klis-1337a150
  email  : 


# # comments by disqus
#comments:
  #provider: "disqus"
  #disqus:
    #shortname: "pwills-com"

#analytics:
  #provider: "google"
  #google:
    #tracking_id: "UA-116208936-1"


# pagination for blog page
paginate: 10 # number of posts to show
paginate_path: /page:num/

# default YAML front matter
defaults:
  # all
  - scope:
      path: ""
    values:
      layout: single
      mathjax: true
      author_profile: true
      class: wide
      title: " "
      title_separator: "|"
  # posts
  - scope:
      type: posts
    values:
      toc: true
      toc_label: "Contents"
      read_time: false
      comments: true
  # portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      author_profile: false
      excerpt: ""
      sidebar:
        nav: "portfolio"

# collections
collections:
  portfolio:
    output: true
